<app-settings-bar></app-settings-bar>
<div class="d-flex flex-wrap position-relative">
  <app-single-question
    class="mb-2"
    *ngFor="
      let question of allQuestions
        | filter: filterService.filters:authService.userEmail
        | sort: filterService.sort
    "
    [question]="question"
    [ngClass]="{
      'w-25': filterService.isLayoutBlock,
      'w-100': !filterService.isLayoutBlock
    }"
  >
  </app-single-question>
</div>
<app-spinner *ngIf="isLoading"></app-spinner>

<app-question-form (updateData)="updateQuestions()"></app-question-form>
