.card {
  cursor: pointer;
  height: 100%;
  position: relative;

  &-category {
    display: block;
    margin-left: 5px;
    font-size: 12px;
    background-color: #e76384;
    color: #ffffff;
    outline: none;
  }

  &-date {
    color: #6c757d;
    font-size: 11px;
    display: flex;
    justify-content: flex-end;
  }

  &-text {
    font-size: 14px;
    overflow: hidden;
    max-height: 40px;

    background: linear-gradient(180deg, #000000 50%, #ccccccbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000000;
  }

  &-header {
    transition: 0.2s linear;
    &:hover {
      transition: 0.2s linear;
      background-color: #aaa8a847;
    }
  }

  &-footer {
    height: 100%;
  }
  &-moderated {
    cursor: text;
    font-size: 10px;
    width: 40%;
    max-width: 150px;
    &-approved {
      background-color: #1b642c;
      border-color: #1b642c;
    }
  }

  &-checked {
    position: absolute;
    width: 50px;
    opacity: 0.6;
  }
}
