.card {
  cursor: pointer;
  height: 100%;
  position: relative;
  // background-image: linear-gradient(
  //     rgba(255, 255, 255, 1),
  //     rgba(255, 255, 255, 0.4)
  //   ),
  //   url("../../../assets/img/not-4.png");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: 80%;

  &-category {
    display: block;
    margin-left: 5px;
    font-size: 12px;
    background-color: #e76384;
    color: #ffffff;
    outline: none;
  }

  &-date {
    color: #6c757d;
    font-size: 11px;
    display: flex;
    justify-content: flex-end;
  }

  &-text {
    font-size: 14px;
    overflow: hidden;
    max-height: 40px;

    background: linear-gradient(180deg, #000000 50%, #ccccccbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000000;
  }

  &-header {
    transition: 0.2s linear;
    &:hover {
      transition: 0.2s linear;
      background-color: #ecd9dc;
    }
  }

  &-footer {
    height: 100%;
  }
  &-moderated {
    cursor: text;
    font-size: 10px;
    width: 40%;
  }

  &-checked {
    position: absolute;
    width: 50px;
    opacity: 0.6;
  }
}
