<div class="card p-2">
  <div class="card-header">
    <p class="card-date">{{ question?.date | date: "MMM d, y HH:mm" }}</p>

    <h5 class="card-title text-center" routerLink="questions/{{ question.id }}">
      {{ question?.title }}
    </h5>
  </div>

  <!-- <div class="dropdown-divider"></div> -->

  <div class="card-footer d-flex">
    <div class="d-flex align-items-end">
      <div class="btn card-category" *ngFor="let tag of question?.tags">
        {{ tag }}
      </div>
    </div>

    <!-- <div class="dropdown-divider"></div> -->

    <!-- <div class="card-admin d-flex p-2 justify-content-center" *ngIf="isAdmin">
      <button
        type="button"
        class="btn btn-success mr-2"
        (click)="moderateQuestion()"
      >
        Approve
      </button>
      <button type="button" class="btn btn-danger" (click)="deleteQuestion()">
        Delete
      </button>
    </div> -->
  </div>
</div>
