<div
  class="card p-2"
  *ngIf="question?.isModerated || isAdmin || question?.author === userEmail"
>
  <div class="card-header" routerLink="questions/{{ question.id }}">
    <img
      class="card-checked"
      *ngIf="question?.hasSolution"
      src="../../../assets/img/checked.png"
      alt=""
    />

    <p class="card-date">{{ question?.date | date: "MMM d, y HH:mm" }}</p>

    <h5 class="card-title text-center">
      {{ question?.title }}
    </h5>
    <div *ngIf="isAdmin || question?.author === userEmail">
      <div
        *ngIf="!question?.isModerated"
        class="card-moderated card-moderated-onmoderation btn btn-secondary btn-sm disabled d-block m-auto"
      >
        On moderation
      </div>
      <div
        *ngIf="question?.isModerated"
        class="card-moderated card-moderated-approved btn btn-success btn-sm disabled d-block m-auto"
      >
        Approved
      </div>
    </div>
  </div>

  <div class="card-footer d-flex">
    <div class="d-flex align-items-end">
      <div class="btn card-category" *ngFor="let tag of question?.tags">
        {{ tag }}
      </div>
    </div>
  </div>
</div>
