<div
  class="modal fade bd-example-modal-lg"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New question</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        class="modal-body"
        [formGroup]="newQuestionForm"
        (ngSubmit)="addNewQuestion()"
      >
        <div class="form-group row">
          <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="inputTitle"
              placeholder="Write your question title"
              formControlName="title"
            />
          </div>
        </div>

        <div class="form-group row d-flex justify-content-between">
          <label class="col-sm-2 col-form-label" for="validationTextarea"
            >Textarea</label
          >
          <div class="col-sm-10">
            <textarea
              class="form-control"
              id="validationTextarea"
              placeholder="Write your question here"
              formControlName="text"
              rows="5"
              required
            ></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputTags" class="col-sm-2 col-form-label">Tags</label>

          <div class="col-sm-10">
            <div class="form-check" *ngFor="let tag of tags; let i = index">
              <input
                formArrayName="tags"
                class="form-check-input"
                type="checkbox"
                name="tag"
                id="inlineCheckbox{{ i + 1 }}"
                value="{{ tag }}"
                (change)="checkValues($event)"
              />
              <label class="form-check-label" for="inlineCheckbox{{ i + 1 }}">{{
                tag
              }}</label>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            [disabled]="isLoading"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="
              isLoading ||
              newQuestionForm.controls['title'].invalid ||
              newQuestionForm.controls['text'].invalid ||
              !newQuestionForm.controls['tags'].value.length
            "
          >
            Add question
          </button>
        </div>
      </form>
    </div>
  </div>
  <app-spinner *ngIf="isLoading"></app-spinner>
</div>
