.home {
  background-color: #be778247;

  &__img {
    display: block;
    margin: auto;
    max-width: 700px;
  }
}

.navbar {
  &-img {
    width: 50px;
  }
  &-photo {
    width: 50px;
    border: 1px solid;
    margin: 0 20px;
    cursor: pointer;
  }
  &-add {
  }
  &-brand {
    font-size: 27px;
    margin-left: 10px;
  }
  &-settings {
    padding: 0;
    width: 30px;
  }
}
