.navbar {
  &-title {
    cursor: pointer;
  }
  &-img {
    width: 50px;
  }
  &-photo {
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
  }
  &-brand {
    font-size: 27px;
    margin-left: 10px;
  }
  &-settings {
    padding: 0;
    width: 30px;
  }
}
