<main class="d-flex align-items-center min-vh-100 py-3 py-md-0 login">
  <div class="container">
    <div class="card login__card">
      <div class="row no-gutters">
        <div class="col-md-6 d-flex login__picture">
          <img
            src="../../assets/img/login_img.png"
            alt="login"
            class="login__img"
          />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <div class="d-flex">
              <img
                src="../../assets/img/icon.ico"
                alt="logo"
                class="login__logo"
              />
              <h1 class="login__title">Ask me, I know</h1>
            </div>
            <p class="login__description">Log into your account</p>
            <form
              class="login__form"
              [formGroup]="loginControl"
              (ngSubmit)="loginUser()"
            >
              <div class="form-group reg__input">
                <label for="email" class="sr-only">Email</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form-control"
                  placeholder="Email address"
                  autocomplete="false"
                  formControlName="email"
                />
              </div>
              <div class="form-group mb-4 reg__input">
                <label for="password" class="sr-only">Password</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control"
                  placeholder="***********"
                  autocomplete="false"
                  formControlName="password"
                />
              </div>
              <span class="login__warning">{{ warningText }}</span>

              <input
                name="log in"
                class="btn btn-block btn-danger login-btn mb-4 login__button"
                type="submit"
                value="Log in"
                [disabled]="loginControl.invalid"
              />
            </form>
            <div class="reg__buttons d-flex justify-content-center">
              <button
                class="reg__social btn btn-outline-light"
                (click)="loginWithGoogle()"
              >
                <img
                  class="reg__icon"
                  src="../../assets/img/google.svg"
                  alt=""
                />
              </button>
              <button
                class="reg__social btn btn-outline-light"
                (click)="loginWithFacebook()"
              >
                <img
                  class="reg__icon"
                  src="../../assets/img/facebook.svg"
                  alt=""
                />
              </button>
              <button
                class="reg__social btn btn-outline-light"
                (click)="loginWithGithub()"
              >
                <img
                  class="reg__icon"
                  src="../../assets/img/github.svg"
                  alt=""
                />
              </button>
            </div>
            <p class="login__footer">
              Don't have an account?
              <span routerLink="../registration" class="login__reg"
                >Register here</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
