.questions,
.categories,
.periods,
.owners,
.sorts,
.layouts,
.themes,
.on-moderation {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.items {
  padding-left: 30px;
}

.dropdown-item {
  padding: 0rem 1.5rem;
}

legend {
  padding-left: 15px;
}

.dropdown-menu {
  left: -200%;
}
