<div class="card text-center container">
  <div class="card-body d-flex justify-content-center">
    <div class="card-photo d-flex">
      <img src="{{ defaultPhoto }}" class="card-img-top" alt="..." />
    </div>

    <div class="card-info">
      <h2 class="card-text">Personal data</h2>
      <h5 class="card-title"><b>Email:</b> {{ authService.userEmail }}</h5>
      <h5 class="card-title"><b>Asked questions:</b> {{ userQuestions }}</h5>
      <!-- <label for="enteredUserName">Change username</label>
      <input
        type="text"
        class="form-control"
        id="enteredUserName"
        placeholder="Enter your username to change"
      />
      <label for="userPhoto">Change photo</label>
      <input
        type="text"
        class="form-control"
        id="userPhoto"
        placeholder="Enter URL to change your photo"
      /> -->
    </div>
  </div>
</div>
<div class="btn btn-outline-danger" routerLink="/">Back to list</div>
