@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import "~bootstrap/scss/bootstrap";

* {
  outline: none !important;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #aaa8a847;
}

.login,
.reg {
  background-color: #aaa8a847;

  &__button {
    padding: 13px 20px 12px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-top: 40px;
  }

  &__card {
    padding: 30px 0;
  }

  &__picture {
    border-right: 1px solid rgba(129, 112, 112, 0.8);
  }

  &__img {
    margin: auto;
    width: 100%;
    max-width: 500px;
  }

  &__logo {
    width: 56px;
  }

  &__title {
    margin-left: 15px;
  }

  &__description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 15px;
  }

  &__form {
    max-width: 400px;
    position: relative;
  }

  &__reg,
  &__login {
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.8;
      transition: all 0.2s ease;
    }
  }

  &__validation {
    color: #9ba89b;
    font-size: 13px;
    letter-spacing: -0.1px;
  }

  &__icon {
    width: 30px;
  }

  &__social {
    margin-left: 15px;
    border: 1px solid #cdc6c6;
  }

  &__buttons {
    max-width: 400px;
    margin-bottom: 20px;
  }
  &__footer {
    margin-bottom: 0;
    margin-top: 0;
  }

  &__info {
    padding: 0 1.25rem;
  }

  &__input {
    margin-bottom: 0.8rem !important;
  }

  &__warning {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: red;
  }
}

.dropdown-item {
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    transition: all 0.2s ease;
  }
}

textarea {
  resize: none;
}

.user-style {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.dark {
  background-color: #3b2a2a;
  color: #f8f9fa;

  & nav {
    background-color: #494545 !important;
  }

  & .btn {
    color: #f8f9fa;

    &-admin {
      &-approve {
        background-color: #072907;
        border-color: #072907;
      }
    }
  }

  .card {
    background-color: #6d6a6a;

    &-category {
      background-color: #3b2a2a !important;
    }

    &-header:hover {
      background-color: #504b4c !important;
    }

    &-moderated {
      &-onmoderation {
        background-color: #1c1c1c;
        border-color: #1c1c1c;
      }
      &-approved {
        background-color: #072907;
        border-color: #072907;
      }
    }

    &-date,
    &-user {
      color: #f8f9fa !important;
    }
  }

  .form-control {
    background-color: #494545;
    color: #f8f9fa;
    &::placeholder {
      color: #c7cdc7;
    }
  }

  .modal {
    &-header,
    &-body {
      background-color: #494545;
    }
  }

  & .close {
    color: #fff;
  }

  & .dropdown {
    &-menu {
      background-color: #6d6a6a;
      color: #fff !important;
    }
    &-item {
      color: #fff !important;
      &:hover {
        background-color: #494545;
      }
    }
  }

  & .login,
  & .reg {
    &__picture {
      border-right: 1px solid rgba(248, 234, 234, 0.8);
    }

    &__validation {
      color: #c7cdc7;
    }

    &__description {
      color: #c7cdc7;
    }
  }
}
