@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  outline: none !important;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #be778247 !important;
}

.login,
.reg {
  background-color: #be778247;

  &__button {
    padding: 13px 20px 12px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-top: 40px;
  }

  &__card {
    padding: 30px 0;
  }

  &__picture {
    border-right: 1px solid rgba(129, 112, 112, 0.8);
  }

  &__img {
    margin: auto;
    width: 100%;
    max-width: 500px;
  }

  &__logo {
    width: 56px;
  }

  &__title {
    margin-left: 15px;
  }

  &__description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 15px;
  }

  &__form {
    max-width: 400px;
    position: relative;
  }

  &__reg,
  &__login {
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.8;
      transition: all 0.2s ease;
    }
  }

  &__validation {
    color: #9ba89b;
    font-size: 13px;
    letter-spacing: -0.1px;
  }

  &__icon {
    width: 30px;
  }

  &__social {
    margin-left: 15px;
    border: 1px solid #cdc6c6;
  }

  &__buttons {
    max-width: 400px;
    margin-bottom: 20px;
  }
  &__footer {
    margin-bottom: 0;
    margin-top: 0;
  }

  &__info {
    padding: 0 1.25rem;
  }

  &__input {
    margin-bottom: 0.8rem !important;
  }

  &__warning {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: red;
  }
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.dropdown-item {
  cursor: pointer;
}

textarea {
  resize: none;
}

.user-style {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
