.card {
  margin-bottom: 20px;
  &-category {
    display: block;
    margin-left: 5px;
    font-size: 12px;
    background-color: #e76384;
    color: #ffffff;
    outline: none;
  }

  &-date,
  &-user {
    color: #6c757d;
    font-size: 11px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }

  &-comments {
    font-size: 20px;
  }
}
