.card {
  margin-bottom: 20px;
  position: relative;

  &-category {
    display: block;
    margin-left: 5px;
    font-size: 12px;
    background-color: #e76384;
    color: #ffffff;
    outline: none;
  }

  &-date,
  &-user {
    color: #6c757d;
    font-size: 11px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }

  &-comments {
    font-size: 20px;
  }

  &-solution {
    width: 10%;
    font-size: 12px;
    margin: 0 5px 5px auto;
  }

  &-background {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn {
  &-admin {
    font-size: 12px;
  }
  &-back {
    left: 50px;
    bottom: 50px;
  }
}
